{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Hello {{ request.user|title }}</h1>
    <h3 style="margin:0">You have <i>{{ count }}</i> incomplete task{{ count|pluralize }}</h3>
    <a href="{% url 'logout' %}" style="color: white; text-decoration: none; background: none; border: 1px solid white; padding: 6px 12px; border-radius: 4px;">Logout</a>

</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px;" id="search-form">
        <input type="text" name="search-area" placeholder="Search your tasks" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>

    <a id="add-link" href="{% url 'task-create' %}">+</a>
</div>

<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper" data-position="{{ task.id|default_if_none:'' }}">
            <div class="task-title">
                {% if task.complete %}
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{ task.title }}</a></s></i>
                {% else %}
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                {% endif %}
            </div>

            <div class="task-controls">
                {% if task.id %}
                    <a class="delete-link" href="{% url 'task-delete' pk=task.id %}">&#215;</a>
                {% else %}
                    <span>× (Cannot delete: Task ID missing)</span>
                {% endif %}
                <span class="handle"> ⠇</span>
            </div>
        </div>
    {% empty %}
        <p style="text-align:center;">No tasks found.</p>
    {% endfor %}
</div>

{% endblock content %}
